.wrapper_composition {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.composition {
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    max-width: 400px;
    padding-bottom: 25px;
    justify-content: space-between;
  }
  &__img {
    border: 2px solid $purple;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: url("/src/assets/evrioma.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.composition__item:nth-child(2) {
  .composition__img {
    background: url("/src/assets/cora.jpg");
    background-position: right;
    background-size: cover;
  }
}
.composition__item:nth-child(3) {
  .composition__img {
    background: url("/src/assets/pant_maral.jpg");
    background-position: center;
    background-size: cover;
  }
}
.composition__left {
  .composition__item:nth-child(1) {
    .composition__img {
      background: url("/src/assets/sosna.jpg");
      background-position: right;
      background-size: cover;
    }
  }
  .composition__item:nth-child(2) {
    .composition__img {
      background: url("/src/assets/zentel.jpg");
      background-position: center;
      background-size: cover;
    }
  }
  .composition__item:nth-child(3) {
    .composition__img {
      background: url("/src/assets/barbaris.jpg");
      background-position: center;
      background-size: cover;
    }
  }
}
.composition__info {
  display: flex;
  line-height: 1;
  flex-direction: column;
  justify-content: space-around;
  max-width: 245px;
  text-align: center;
  .composition__title {
    font-size: 30px;
    color: $purple;
  }
  .composition__decs {
    font-size: 23px;
    color: wheat;
  }
}
/*-------------MEDIA--------------*/
@media (max-width: 920px) {
  .composition__container {
    flex-direction: column;
  }
  .composition__right {
    margin-bottom: 30px;
  }
  .composition__left {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
@media (max-width: 400px) {
  .composition__img {
    border: 1px solid #62125a;
    width: 70px;
    height: 70px;
  }
  .composition__item {
    max-width: 315px;
    padding-bottom: 30px;
    align-items: center;
  }
  .composition__info {
    max-width: 200px;
    padding-right: 15px;
  }
}
